/* This css is used in desktop view. Consider refactoring this */
.MuiTableHead-root {
    display: table-header-group;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

tr.MuiTableRow-root.MuiTableRow-hover {
    height: 12vh;
}

.title {
    color: "#1a1a1a";
    font-family: "Comfortaa";
    text-align: 'left';
    margin-top: '1rem';
    margin-bottom: '1rem';
}

.title {
    font-size: 32px !important;
    font-weight: 700;
}

#app-logo {
    font-size: 52px !important;
    font-weight: 700;
}

/****** title font /******/
.title {
    color: #1a1a1a;
    font-family: Comfortaa;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 32px !important;
    font-weight: 700;
  }

/****** Desktop Viewport ******/
@media screen and (min-width: 877px) {

}

/****** Mobile Viewport ******/
@media screen and (max-width: 600px) {
    .makeStyles-root-4 { width: 100% !important; }
    .MuiContainer-root { width: 100% !important; }
    span.MuiTab-wrapper { font-size: 12px; }
}