body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-container {
  width: 31rem; 
  position: relative !important;
}

.MuiGrid-grid-md-5,
.MuiGrid-grid-sm-5 {
  height: 46.6rem !important;
  max-width: none !important;
}

.MuiGrid-grid-md-7 {
  height: 46.6rem !important;
}